= simple_form_for([:admin, @user]) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email
    = f.input :name
    = f.input :address
    = f.input :postal_code
  .form-actions
    = f.button :submit
